<!-- templates/login/login.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{util/util :: html(
                    css=~{::css},
                    content=~{::content},
                    js=~{::js}
                  )}">

<th:block th:fragment="css">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</th:block>

<!-- ✅ 본문 내용 정의 -->
<th:block th:fragment="content">
    <div class="container">
        <div class="title">로그인</div>
        <form class="login-form" id="loginForm" method="post" th:action="@{/api/auth/login}">
            <label for="email">이메일</label>
            <input type="email" id="email" name="email" placeholder="이메일">
            <p class="error-message" id="emailInput-error"></p>

            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password" placeholder="비밀번호">
            <p class="error-message" id="password1Input-error"></p>
            <p class="error-message" id="passwordSize-error"></p>

            <button type="submit" id="loginBtn">로그인</button>
        </form>
        <div class="button-container">
            <button type="button" onclick="location.href='/signup'">회원가입</button>
        </div>
    </div>
</th:block>

<!-- ✅ 페이지 전용 JS 정의 -->
<th:block th:fragment="js">
    <script th:src="@{/js/login.js}" defer></script>
</th:block>

<!-- ✅ util.html 적용을 위한 layout 호출 -->

</html>