<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{util/util :: html(
                    css=~{::css},
                    content=~{::content},
                    js=~{::js}
                  )}">

<th:block th:fragment="css">
  <link rel="stylesheet" th:href="@{/css/signup.css}" />
</th:block>

<th:block th:fragment="content">
  <div class="container">
    <form class="signup-form" id="signupForm" method="post" enctype="multipart/form-data" th:action="@{/api/users}">
      <div class="profile-container">
        <div class="signup-title">
            <div class="profile-title">프로필 사진</div>
            <div class="helper-text">*필수입니다.</div>
        </div>
        <div class="profile-upload">

          <label class="profile-label">
            <div id="profile-preview" class="profile-preview">
              <div id="profile-plus" class="profile-plus">+</div>
              <img id="profile-image" src="" alt="미리보기" style="display: none;" />
            </div>
          </label>
          <input type="file" id="profile" name="profileImage" accept="image/*" style="display: none;">
          <div class="error-message" id="profile-error"></div>
        </div>
      </div>

      <label for="email">이메일*</label>
      <div class="helper-text">*필수입니다.</div>
      <input type="email" id="email" name="email" placeholder="이메일" />
      <p class="error-message" id="emailInput-error"></p>

      <label for="password1">비밀번호*</label>
      <div class="helper-text">*필수입니다.</div>
      <input type="password" id="password1" name="password" placeholder="비밀번호" autocomplete="new-password" />
      <p class="error-message" id="password1Input-error"></p>
      <p class="error-message" id="passwordSize-error"></p>

      <label for="password2">비밀번호 확인*</label>
      <div class="helper-text">*필수입니다.</div>
      <input type="password" id="password2" name="password" placeholder="비밀번호 확인" autocomplete="new-password" />
      <p class="error-message" id="password2Input-error"></p>
      <p class="error-message" id="passwordDiff-error"></p>

      <label for="nickname">닉네임*</label>
      <div class="helper-text">*필수입니다.</div>
      <input type="text" id="nickname" name="nickname" placeholder="닉네임" />
      <p class="error-message" id="nicknameEmpty-error"></p>
      <p class="error-message" id="nicknameSpace-error"></p>
      <p class="error-message" id="nicknameSize-error"></p>

      <button type="submit" id="signupBtn">회원가입</button>
    </form>

    <div class="button-container">
      <button id="loginGoBtn">로그인하러 가기</button>
    </div>
  </div>
  </th:block>

  <!-- ✅ JS -->
  <th:block th:fragment="js">
    <script type="module" th:src="@{/js/signup.js}"></script>
  </th:block>

</html>
